<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.yancey.ceg4981app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".AddScheduleScreen"></activity>
        <activity android:name=".AddRecipeScreen" />
        <activity android:name=".ManualCookScreen" />
        <activity android:name=".ScheduleScreen" />
        <activity android:name=".RecipesScreen" />
        <activity android:name=".CookScreen" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>